
/* フォントを追加 */
@font-face{
    font-family: GenEiNombre;
    src:url(/image/GenEiNombre_v2.0/GenEiNombre-Roman.ttf)
}

/* 共通パーツ */

h1{
    font-size: 40px;
    font-family: 源暎ノンブル;
}

h2{
    font-family: はんなり明朝;
    font-size: 25px;
}

/* header */



.g-navi{
    width: 100%;
    background-color: #B6EE81;

}

.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 5%;
}

.g-navi-logo{
    width: 207px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
}

.g-navi ul{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.g-navi ul li{
    text-align: center;
    margin-left: 20px;
}

.g-navi ul li a{
    display: block;
    color: #FFFFFF;
    font-size: 35px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;


}

/* Top */

.mv-wrapper{
    padding: 120px;
    background-color: #E5FFCC;
    text-align : center
}

.m-logo{

    width: 610px;
    padding-top: 120px;
    padding-bottom: 40px;
}

.mv-text{
    text-align: center;
    color: #598C6B;
}

/* About */

/* works */

/* Works（ポップアップ） */